<h1 mat-dialog-title>{{ data ? 'Edit' : 'Add new' }} skill</h1>
<div mat-dialog-content>
  <dges-skill-form [formControl]="skillForm"> </dges-skill-form>

  <dges-images-control
    (updateFiles)="updateFiles($event)"
    (uploaded)="onUploaded($event)"
    [multi]="false"
    [uploads$]="uploads$"
    [images]="[uploaded]"
  >
  </dges-images-control>

  {{ skillForm.value | json }}

  <dges-skills-group-chips
    class="example-skills-group"
    [skills]="skills$ | async"
    [showDelete]="false"
    (delete)="deleteSkill($event)"
  >
  </dges-skills-group-chips>
  <!-- <div>
    {{ skill.title }}
    <img class="max-width-100" [src]="skill.image" />
  </div> -->
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button
    mat-stroked-button
    (click)="addOrEditSkill()"
    color="primary"
    [disabled]="!skillForm.valid"
  >
    {{ data ? 'EDIT' : 'ADD' }} SKILL
  </button>
  <button mat-button class="m-1" (click)="onNoClick()">NO THANKS</button>
</div>
