<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="white" class="toolbar">
    <div class="example-toolbar">
      <button mat-button routerLink="." [routerLink]="'timeline'">
        📜{{ title }}
      </button>

      <div>
        <dges-full-length-menu
          *ngIf="showFullMenu; else showDropDownMenu"
          [fillerNav]="fillerNav"
          [user$]="user$"
        >
        </dges-full-length-menu>

        <ng-template #showDropDownMenu>
          <dges-drop-down-menu
            [fillerNav]="fillerNav"
            [user$]="user$"
          ></dges-drop-down-menu>
        </ng-template>

        <ng-container *ngIf="user$ | async as user; else showLogin">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            🦾
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item disabled>
              <mat-icon>person</mat-icon>
              <span>{{ user.email }}</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>undo</mat-icon>
              <span>Log out</span>
            </button>
          </mat-menu>
        </ng-container>
      </div>

      <ng-template #showLogin>
        <button
          (click)="openLogin()"
          mat-icon-button
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>login</mat-icon>
        </button>
      </ng-template>
    </div>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
