.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 576px) {
  .example-toolbar {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .example-toolbar {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .example-toolbar {
    max-width: 992px;
  }
}

@media (min-width: 1152px) {
  .example-toolbar {
    max-width: 1152px;
  }
}

.example-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100vw - 54px);
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.toolbar {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100vw;
  z-index: 2;
}

.example-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100vw - 54px);
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.footer {
  bottom: 0;
  padding-left: 0;
  padding-right: 0;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.paddingDiv:focus {
  outline: 0;
}

.example-is-mobile .example-toolbar,
.example-is-mobile .toolbar {
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  // flex: 1 0 auto;
}

.bottom-nav-child {
  flex: 1 1 auto;
  text-align: center;
  height: 64px;
  line-height: 64px;
}
