<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="white" class="toolbar" *ngIf="!mobileQuery.matches">
    <div class="example-toolbar">
      <div
        matRipple
        routerLink="."
        [routerLink]="'timeline'"
        class="paddingDiv text"
      >
        ⛩️ {{ title }}
      </div>

      <div>
        <dges-full-length-menu
          *ngIf="showFullMenu; else showDropDownMenu"
          [fillerNav]="fillerNav"
        >
        </dges-full-length-menu>

        <ng-template #showDropDownMenu>
          <dges-drop-down-menu [fillerNav]="fillerNav"></dges-drop-down-menu>
        </ng-template>
      </div>

      <ng-template #showLogin>
        <button
          (click)="openLogin()"
          mat-icon-button
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>login</mat-icon>
        </button>
      </ng-template>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-menu #routeMenu="matMenu">
    <ng-container *ngFor="let nav of fillerNav">
      <button mat-menu-item routerLink="." [routerLink]="nav.path">
        {{ nav.path }}
      </button>
    </ng-container>
  </mat-menu>
  <mat-toolbar *ngIf="mobileQuery.matches" color="white" class="footer">
    <div
      matRipple
      routerLink="."
      [routerLink]="'timeline'"
      class="paddingDiv bottom-nav-child"
    >
      ⛩️ {{ title }}
    </div>
    <div matRipple [matMenuTriggerFor]="routeMenu" class="bottom-nav-child">
      🏠
    </div>
  </mat-toolbar>
</div>
<ng-template #showLogin>
  <div class="bottom-nav-child" matRipple (click)="openLogin()">⏏️</div>
</ng-template>
