<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="white" class="toolbar" *ngIf="!mobileQuery.matches">
    <div class="example-toolbar">
      <div
        matRipple
        routerLink="."
        [routerLink]="''"
        class="paddingDiv text"
      >
        ⛩️ ADMIN {{ title }}
      </div>

      <div>
        <ng-container *ngIf="user$ | async as user; else showLogin">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            🦾
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item disabled>
              <mat-icon>person</mat-icon>
              <span>{{ user.email }}</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>undo</mat-icon>
              <span>Log out</span>
            </button>
          </mat-menu>
        </ng-container>
      </div>

      <ng-template #showLogin>
        <button
          (click)="openLogin()"
          mat-icon-button
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>login</mat-icon>
        </button>
      </ng-template>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-menu #routeMenu="matMenu">
    <ng-container *ngFor="let nav of fillerNav">
      <button
        mat-menu-item
        routerLink="."
        *ngIf="!(!(user$ | async) && nav?.canActivate)"
        [routerLink]="nav.path"
      >
        {{ nav.path }}
      </button>
    </ng-container>
  </mat-menu>
  <mat-toolbar *ngIf="mobileQuery.matches" color="white" class="footer">
    <div
      class="bottom-nav-child"
      matRipple
      *ngIf="user$ | async as user; else showLogin"
      [matMenuTriggerFor]="menu"
    >
      ⏏️
    </div>
    <div
      matRipple
      routerLink="."
      [routerLink]="'timeline'"
      class="paddingDiv bottom-nav-child"
    >
      ⛩️ {{ title }}
    </div>
    <div matRipple [matMenuTriggerFor]="routeMenu" class="bottom-nav-child">
      🏠
    </div>
  </mat-toolbar>
</div>
<ng-template #showLogin>
  <div class="bottom-nav-child" matRipple (click)="openLogin()">⏏️</div>
</ng-template>
<mat-menu #menu="matMenu">
  <button mat-menu-item disabled>
    <mat-icon>person</mat-icon>
    <span *ngIf="user$ | async as user">{{ user.email }}</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>undo</mat-icon>
    <span>Log out</span>
  </button>
</mat-menu>
