.full-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(100vh - 3.5rem);
    width: 100vw;
    overflow-y: auto;
    justify-content: center;
  }

  .example-card {
    margin: 3rem;
  }
  
  @media only screen and (min-width: 600px) {
    .full-page {
      height: calc(100vh - 4rem);
    }
  }

  .absolute-center {
    position: absolute;
    z-index: 11;
    bottom: calc(50vh - 50px);
    right: calc(50vw - 50px);
  }
  
  .action-button {
    position: absolute;
    z-index: 10;
    bottom: 1.5rem;
    right: 1.5rem;
  }
  