<div class="full-page">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Skills</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <dges-skills-group-chips
        class="example-skills-group"
        [skills]="skills$ | async"
        [showDelete]="false"
      >
      </dges-skills-group-chips>
      <button
        mat-fab
        color="primary"
        class="action-button"
        (click)="addSkill()"
        aria-label="Example icon button with a delete icon"
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Tools</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <dges-skills-group-chips
        class="example-skills-group"
        [skills]="tools$ | async"
        [showDelete]="false"
      >
      </dges-skills-group-chips>
      <button
        mat-fab
        color="primary"
        class="action-button"
        (click)="addTools()"
        aria-label="Example icon button with a delete icon"
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>

  <mat-spinner
    class="absolute-center"
    *ngIf="!(loadingSkills$ | async) || !(loadingTools$ | async)"
  ></mat-spinner>
</div>
