<h1 mat-dialog-title>{{ data ? 'Edit' : 'Add new' }} tool</h1>
<div mat-dialog-content>
  <dges-skill-form [formControl]="toolForm"> </dges-skill-form>

  <dges-images-control
    (updateFiles)="updateFiles($event)"
    (uploaded)="onUploaded($event)"
    [multi]="false"
    [uploads$]="uploads$"
    [images]="[uploaded]"
  >
  </dges-images-control>

  {{ toolForm.value | json }}

  <dges-skills-group-chips
    class="example-skills-group"
    [skills]="tools$ | async"
    [showDelete]="false"
    (delete)="deleteTool($event)"
  >
  </dges-skills-group-chips>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button
    mat-stroked-button
    (click)="addOrEditTool()"
    color="primary"
    [disabled]="!toolForm.valid"
  >
    {{ data ? 'EDIT' : 'ADD' }} TOOL
  </button>
  <button mat-button class="m-1" (click)="onNoClick()">NO THANKS</button>
</div>
