<h1 mat-dialog-title>{{ data ? 'Edit' : 'Add new' }} project</h1>
<div mat-dialog-content>
  <dges-project-form
    [formControl]="projectForm"
    [skills$]="skills$"
    [tools$]="tools$"
  >
  </dges-project-form>

  <dges-images-control
    (updateFiles)="updateFiles($event)"
    (uploaded)="onUploaded($event)"
    [multi]="true"
    [uploads$]="uploads$"
    [images]="projectForm.value.images"
  >
  </dges-images-control>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button
    mat-stroked-button
    color="primary"
    [disabled]="!projectForm.valid || !projectForm.touched"
    (click)="addOrEditProject()"
  >
    {{ data ? 'EDIT' : 'ADD' }} PROJECT
  </button>
  <button mat-button class="m-1" (click)="onNoClick()">NO THANKS</button>
</div>
