<h1 mat-dialog-title>{{ data ? 'Edit' : 'Add new' }} project</h1>
<div mat-dialog-content>
  <dges-project-form
    [choiceArray]="['fruity', 'duity']"
    [formControl]="projectForm"
  >
  </dges-project-form>

  <!-- <div> 
    <div *ngFor="let image of projectForm.value.images">
      <img [src]="image" />
    </div>
  </div> -->

  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div
      class="example-box"
      *ngFor="let image of projectForm.value.images"
      cdkDrag
    >
      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
      <img class="max-width-100" [src]="image" />
    </div>
  </div>

  <dges-upload-images (filesUpdate)="updateFiles($event)"></dges-upload-images>

  <div *ngFor="let file of uploads$ | async">
    <dges-upload-task
      [task]="file"
      (fileURL)="onUploaded($event)"
    ></dges-upload-task>
  </div>
</div>
<div mat-dialog-actions>
  <!-- {{ this.projectForm.value | json }} -->
  <button
    mat-stroked-button
    color="primary"
    [disabled]="!projectForm.valid"
    (click)="addOrEditProject()"
  >
    {{ data ? 'EDIT' : 'ADD' }} PROJECT
  </button>
  <button mat-button class="m-1" (click)="onNoClick()">NO THANKS</button>
</div>
