<div class="fullPage">
  <div
    *ngFor="let year of years"
    class="wrap"
    [style.background-image]="setStyle(year)"
  >
    <div class="second-div">
      <div class="year">
        <h1>{{ year }}</h1>
      </div>
      <ng-container *ngFor="let card of allCards$ | async | sortBy: 'endDate'">
        <ng-container [ngSwitch]="card.type">
          <ng-container *ngSwitchCase="'job'">
            <dges-project-card
              *ngIf="isInYear(year, card.endDate)"
              class="m-3"
              [project]="card"
            >
            </dges-project-card>
          </ng-container>
          <ng-container *ngSwitchCase="'project'">
            <dges-job-card
              *ngIf="isInYear(year, card.endDate)"
              class="m-3"
              [job]="card"
            >
            </dges-job-card>
          </ng-container>
          <ng-container *ngSwitchCase="'education'">
            <dges-education-card
              *ngIf="isInYear(year, card.endDate)"
              class="m-3"
              [education]="card"
            >
            </dges-education-card>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
