<div class="first-wrap">
  <div class="first-div">
    <div class="body-text">
      <span class="line-separator"></span>
      <div class="timelinee">
        <div class="year">
          <h1>2020</h1>
        </div>
        <ul class="timeline">
          <li></li>
          <li></li>
        </ul>
      </div>
      <span class="line-separator"></span>
    </div>
  </div>
</div>

<div class="nineteen-wrap">
  <div class="second-div" id="anchor">
    <div class="body-text">
      <span class="line-separator"></span>
      <div class="timelinee">
        <div class="year">
          <h1>2019</h1>
        </div>
        <ul class="timeline">
          <li></li>
          <li></li>
        </ul>
      </div>
      <span class="line-separator"></span>
    </div>
  </div>
</div>

<div class="second-wrap">
  <div class="second-div" id="anchor">
    <div class="body-text">
      <span class="line-separator"></span>
      <div class="timelinee">
        <div class="year">
          <h1>2018</h1>
        </div>
        <ul class="timeline">
          <li></li>
          <li></li>
        </ul>
      </div>
      <span class="line-separator"></span>
    </div>
  </div>
</div>

<div class="secondd-wrap">
  <div class="second-div" id="anchor">
    <div class="body-text">
      <span class="line-separator"></span>
      <div class="timelinee">
        <div class="year">
          <h1>2017</h1>
        </div>
        <ul class="timeline">
          <li></li>
          <li></li>
        </ul>
      </div>
      <span class="line-separator"></span>
    </div>
  </div>
</div>

<div class="third-wrap">
  <div class="second-div" id="anchor">
    <div class="body-text">
      <span class="line-separator"></span>
      <div class="timelinee">
        <div class="year">
          <h1>2016</h1>
        </div>
        <ul class="timeline">
          <li></li>
          <li></li>
        </ul>
      </div>
      <span class="line-separator"></span>
    </div>
  </div>
</div>

<div class="fifteen-wrap">
  <div class="second-div">
    <div class="body-text">
      <span class="line-separator"></span>
      <div class="timelinee">
        <div class="year">
          <h1>2015</h1>
        </div>
        <ul class="timeline">
          <li></li>
          <li></li>
        </ul>
      </div>
      <span class="line-separator"></span>
    </div>
    <!-- <div class="first-inner-div">
        </div> -->
  </div>
</div>

<div class="fourteen-wrap">
  <div class="second-div">
    <div class="body-text">
      <span class="line-separator"></span>
      <div class="timelinee">
        <div class="year">
          <h1>2014</h1>
        </div>
        <ul class="timeline">
          <li></li>
          <li></li>
        </ul>
      </div>
      <span class="line-separator"></span>
    </div>
  </div>
</div>

<div class="firstt-wrap">
  <div class="second-div"></div>
</div>
