.log {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 24px;
}

header {
  overflow-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em 0 0 0;
  padding: 1em;
}

header h1 {
  font: 48px 'Fira Mono', monospace;
  text-align: center;
  margin-top: 2%;
  color: #459fa5;
}

.hexa {
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexa:before {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.hexal {
  border: 0px;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexal:before {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexal:after {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.timeline .hexal {
  width: 64px;
  height: 20px;
  /* position: absolute; */
  background: #459fa5;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -30px;
  /* margin-top: 0; */
}

.timeline .hexal:before {
  border-bottom: 16px solid #459fa5;
  border-left-width: 32px;
  border-right-width: 32px;
  top: -16px;
}

.timeline .hexal:after {
  border-left-width: 32px;
  border-right-width: 32px;
  border-top: 16px solid #459fa5;
  bottom: -16px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  /* margin-top: 20px; */
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: rgb(213, 213, 213);
  background: -moz-linear-gradient(
    top,
    rgba(213, 213, 213, 0) 0%,
    rgb(213, 213, 213) 8%,
    rgb(213, 213, 213) 92%,
    rgba(213, 213, 213, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(30, 87, 153, 1)),
    color-stop(100%, rgba(125, 185, 232, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(213, 213, 213, 0) 0%,
    rgb(213, 213, 213) 8%,
    rgb(213, 213, 213) 92%,
    rgba(213, 213, 213, 0) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(213, 213, 213, 0) 0%,
    rgb(213, 213, 213) 8%,
    rgb(213, 213, 213) 92%,
    rgba(213, 213, 213, 0) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(213, 213, 213, 0) 0%,
    rgb(213, 213, 213) 8%,
    rgb(213, 213, 213) 92%,
    rgba(213, 213, 213, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(213, 213, 213, 0) 0%,
    rgb(213, 213, 213) 8%,
    rgb(213, 213, 213) 92%,
    rgba(213, 213, 213, 0) 100%
  );
  z-index: 5;
}

.timeline li {
  padding: 2em 0;
}

.timeline .hexa {
  width: 16px;
  height: 10px;
  position: absolute;
  background: #459fa5;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid #459fa5;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid #459fa5;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  overflow-y: hidden;
  text-align: center;
  position: relative;
}

.flag-wrappers {
  overflow-y: hidden;
  text-align: center;
  position: relative;
}

.flag {
  overflow-y: hidden;
  position: relative;
  display: inline;
  vertical-align: middle;
  color: #459fa5;
  background: rgb(255, 255, 255);
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

.valign-center > * {
  overflow-y: hidden;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: '';
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255, 255, 255);
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.time-wrapper {
  overflow-y: hidden;
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  color: #fff;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background: #459fa5;
  display: inline-block;
  padding: 8px;
}

.desc {
  color: black;
  position: relative;
  margin: 1em 0 0 0;
  text-align: start;
  padding: 1em;
  background: rgb(254, 254, 254);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}

@media (min-width: 768px) {
  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .timeline li:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }
  .timeline .hexal {
    overflow-y: hidden;
    top: -10px;
  }
  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }
  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }
  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }
  .flag-wrapper {
    overflow-y: hidden;
    display: inline-block;
  }
  .flag-wrappers {
    display: flex;
    align-content: center;
    overflow-y: hidden;
  }
  .flag {
    overflow-y: hidden;
    font-size: 18px;
  }
  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(254, 254, 254);
    border-width: 8px;
  }
  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254, 254, 254);
    border-width: 8px;
    left: -8px;
  }
  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }
  .direction-l .time-wrapper {
    float: left;
  }
  .direction-r .time-wrapper {
    float: right;
  }
  .time {
    padding: 5px 10px;
  }
  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}

@media (min-width: 992px) {
  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }
  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}

// ===================================================================

@media (min-width: 0) and (max-width: 767px) {
  p,
  .body-text {
    font-size: 10px !important;
  }
  .down-arrow {
    font-size: 20px !important;
  }
}
/* Resize in Tablet View */

@media (min-width: 768px) and (max-width: 991px) {
  p,
  .body-text {
    font-size: 15px !important;
  }
  .down-arrow {
    font-size: 30px !important;
  }
}
/* Line Separators CSS */

.line-separator {
  display: block;
  width: 50%;
  height: 1px;
  text-align: center;
  margin: 20px auto;
  border-bottom: 1px solid grey;
}
/* First Wrap Background */

.first-wrap {
  height: 100%;
  width: 100vw;
  background: #ffffff url('https://source.unsplash.com/random/1600x900')
    no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.nineteen-wrap {
  height: 100%;
  width: 100vw;
  background: #ffffff url('https://source.unsplash.com/random/1600x900')
    no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
}
/* Second Wrap Background */

.second-wrap {
  height: 100%;
  width: 100vw;
  background: #ffffff url('https://source.unsplash.com/random/1600x900')
    no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
}
/* Third Wrap Background */

.secondd-wrap {
  height: 100%;
  width: 100vw;
  background: #ffffff url('https://source.unsplash.com/random/1/1600x900')
    no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
}
/* Third Wrap Background */

.third-wrap {
  height: 100%;
  width: 100vw;
  background: #ffffff url('https://source.unsplash.com/random/1/1600x900')
    no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.firstt-wrap {
  height: 100%;
  width: 100vw;
  background: #ffffff url('https://source.unsplash.com/random/1/1600x900')
    no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.fourteen-wrap {
  height: 100%;
  width: 100vw;
  background: #ffffff url('https://source.unsplash.com/random/1/1600x900')
    no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.fifteen-wrap {
  height: 100%;
  width: 100vw;
  background: #ffffff url('https://source.unsplash.com/random/1/1600x900')
    no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.first-div {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  .first-inner-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 20px;
    .down-arrow {
      font-size: 40px;
      color: #fff;
    }
    p {
      padding: 20px;
      letter-spacing: 0.45em;
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.second-div {
  display: table;
  height: 50vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.45em;
    text-transform: uppercase;
  }
}

.third-div {
  display: table;
  height: 50vh;
  width: 100vw;
  background-color: transparent;
}

.fourth-div {
  display: table;
  height: 50vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.9);
  p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.45em;
    text-transform: uppercase;
  }
}

.fourthh-div {
  display: table;
  height: 50vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.45em;
    text-transform: uppercase;
  }
}

.fifth-div {
  display: table;
  height: 50vh;
  width: 100vw;
  background-color: transparent;
}

#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  background-color: rgb(255, 255, 255);
  color: #000;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

#back-to-top:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}

#back-to-top.show {
  opacity: 1;
}

/* NEW UPDATE */
.new-update {
  padding: 20px;
  text-align: center;
}

.year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    text-align: center;
    overflow-x: visible !important;
  }
  
  .year > h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 20em;
    opacity: 0.5;
    white-space: nowrap;
    overflow-x: visible !important;
  }

  .timelinee {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
    /* padding-right: 17px;
      box-sizing: content-box; */
  }