.full-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: calc(100vh - 3.5rem);
  width: 100vw;
  overflow-y: auto;
  justify-content: center;
  align-content: center;
}

@media only screen and (min-width: 600px) {
  .full-page {
    height: calc(100vh - 4rem);
  }
}

.project-card {
  margin: 1rem;
}

.action-button {
  position: absolute;
  z-index: 10;
  bottom: 1.5rem;
  right: 1.5rem;
}
